<p-panel header="Pipes Numericos" class="p-1">
  <p>
    pipes incluidos en angular - usualmente en el common module
  </p>
</p-panel>


<div class="grid mt-2">
  <div class="col-12 md:col-4">
    <p-card header="Ventas Netas" subheader="del presente año">
      {{totalSells+12443|number:'1.2-2'}}
    </p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="Ventas Netas" subheader="del presente año">
      {{totalSells|currency:'PEN':'symbol-narrow':'1.4-4'}}
    </p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="Ganacias porcentuales" subheader="del presente año">
      {{percent|percent:'1.2-2'}}
    </p-card>
  </div>
</div>
